streamlit
pandas
openpyxl
matplotlib
st-gsheets-connection
streamlit-antd-components
streamlit-extras
streamlit-shadcn-ui
streamlit-javascript
gspread
google-auth
flask
flask-cors
gunicorn
